body {
	background-color: #6B7A8F;
	padding: 15%;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-size: 150%;
}

img {
	border: solid white 4px;
}

.Menu, .Happiness, .Love, .Traveling {
	font-size: 130%;
}

a {
	text-decoration: none;
	color: white;
}

.travel {
	font-family: 'Cookie', cursive;
}

.footer {
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   text-align: center;
}

